*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
.#*
.*.swp
.DS_Store
GEDGame/**/Debug/
GEDGame/**/Release/
ipch
*.exe
*.dll
*.lib
*.ilk
*.pdb
*.opensdf
*.sdf
*.suo
*.ipch
*.obj
*.idb
*.tlog
*.pch
*.log
#svn folder
.svn